.photo-viewer-container {
  .form {
    width: 45%;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      margin-top: 1rem;
    }
    .random-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
